<div class="columns">
<div class="column">
  <% if todo_item.completed? %>
    <table class="table">
      <tbody>
      <tr>
        <td>
          <p style="opacity: 0.4"><strike><%= todo_item.content %></strike></p>
        </td>
        <td>
          <%= link_to "Mark as Complete", complete_todo_list_todo_item_path(@todo_list, todo_item.id), method: :patch %>
        </td>
        <td>
          <%= link_to "Delete Item", todo_list_todo_item_path(@todo_list, todo_item.id), method: :delete, data: {confirm: "Are you sure?"} %>
        </td>
      </tr>
      </tbody>
    </table>
  <% else %>
    <table class="table">
      <tbody>
      <tr>
        <td>
          <p><%= todo_item.content %></p>
        </td>
        <td>
          <%= link_to "Mark as Complete", complete_todo_list_todo_item_path(@todo_list, todo_item.id), method: :patch %>
        </td>
        <td>
          <%= link_to "Delete Item", todo_list_todo_item_path(@todo_list, todo_item.id), method: :delete, data: {confirm: "Are you sure?"} %>
        </td>
      </tr>
      </tbody>
    </table>
  <% end %>
</div>
</div>
