<p id="notice"><%= notice %></p>

<div class="columns">
  
  <div class="column">
    <table class="todolist-table">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th colspan="2"></th>
        </tr>
      </thead>
      <tbody>
        <% @todo_lists.each.with_index do |todo_list, index| %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= link_to todo_list.title, todo_list %> <br />
              <span class="description"><em><%= todo_list.description %></em></span>
            </td>
            <td><%= link_to 'Edit', edit_todo_list_path(todo_list) %></td>
            <td><%= link_to 'Destroy', todo_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

