<!DOCTYPE html>
<html>
  <head>
    <title>RailsTodoSystem</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <h3 class="subtitle is-3">Todo System</h3>
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="/">Home</a>
          <%= link_to 'New Todo List', new_todo_list_path, class: 'navbar-item' %>
        </div>
        <div class="navbar-end">
        </div>
      </div>
    </nav>
    <div class="container is-fluid">
      <%= yield %>
    </div>
  </body>
</html>
